*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
  }
  .material-icons{
    color:rgb(96, 96, 96);
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:15px;
  }
  .header-left{
    display: flex;
    align-items: center;
  }
  .header-left img{
    width:100px;
    margin-left:0.5rem;
  }
  .header i{
    padding:0 7px;
    cursor: pointer;
  }
  .header-search form{
    border:1px solid #ddd;
    height: 35px;
    margin:0;
    padding:0;
    display: flex;
  }
  .header-search input{
    width:500px;
    padding:10px;
    margin:0;
    border-radius: 0;
    border:none;
    height:100%;
  }
  .header-search button{
    padding:0;
    margin:0;
    height:100%;
    border:none;
    border-radius:0;
  }
  .mainBody{
    height: calc(100vh - 70px);
    display: flex;
    overflow:hidden;
  }
  .sidebar{
    height: 100%;
    width: 230px;
    background-color: #fff;
    overflow-y: scroll;
  }
  .sidebar-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sidebar-category{
    display: flex;
    align-items: center;
    padding:12px 25px;
  }
  .sidebar-category span{
    margin-left: 15px;
  }
  .sidebar-category:hover{
    background-color: #e5e5e5;
    cursor: pointer;
  }
  .sidebar::-webkit-scrollbar{
    display: none;
  }
  .videos{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding:15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
  }
  .videos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .video{
    width:310px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
  }
  .video-thumbnail{
    width: 100%;
    height:170px;
  }
  .video-thumbnail img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .author img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .video-details{
    display: flex;
    margin-top:10px;
  }
  .title{
    display: flex;
    flex-direction: column;
  }
  .title h3{
    color:rgb(3,3,3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .title a, span{
    text-decoration: none;
    color:rgb(96,96,96);
    font-size: 14px;
  }
  h1{
    font-size: 20px;
    margin-bottom: 10px;
    color:rgb(3,3,3);
  }